* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #c8cecc;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 {
  font-family: 'Oxygen', sans-serif;
  color: #3c3e42;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 100;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #3c3e42;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3c3e42;
}
.navbar-header button.navbar-toggle {
  top: 50%;
}
/* END HEADER */

#tall-grid {
  border: 1px solid #3c3e42;
  width: 100%;
  padding: 5px;
  height: 1000px;
  background-color: #c8cecc;
  margin-bottom: 20px;
}

